# Ignorer les fichiers de configuration environnement
server/.env

# Ignorer les fichiers node_modules
node_modules/

# Ignorer les fichiers de cache ou logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
